# Dependencias y entornos
node_modules/
venv/
.env

# Metadatos del sistema y macOS
.DS_Store
__MACOSX/
*.log

# Caché y compilados de Python
__pycache__/
*.pyc
*.pyo

# Archivos temporales y de depuración
generated_figures/
*.tmp
